<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ChildReport</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registercitizen</display-name>
    <servlet-name>Registercitizen</servlet-name>
    <servlet-class>project.Registercitizen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registercitizen</servlet-name>
    <url-pattern>/Registercitizen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logincitizen</display-name>
    <servlet-name>Logincitizen</servlet-name>
    <servlet-class>project.Logincitizen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logincitizen</servlet-name>
    <url-pattern>/Logincitizen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addchildreport</display-name>
    <servlet-name>Addchildreport</servlet-name>
    <servlet-class>project.Addchildreport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addchildreport</servlet-name>
    <url-pattern>/Addchildreport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CitizenChangePass</display-name>
    <servlet-name>CitizenChangePass</servlet-name>
    <servlet-class>project.CitizenChangePass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CitizenChangePass</servlet-name>
    <url-pattern>/CitizenChangePass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminlogin</display-name>
    <servlet-name>Adminlogin</servlet-name>
    <servlet-class>project.Adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminlogin</servlet-name>
    <url-pattern>/Adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPolice</display-name>
    <servlet-name>AddPolice</servlet-name>
    <servlet-class>project.AddPolice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPolice</servlet-name>
    <url-pattern>/AddPolice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PoliceLogin</display-name>
    <servlet-name>PoliceLogin</servlet-name>
    <servlet-class>project.PoliceLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PoliceLogin</servlet-name>
    <url-pattern>/PoliceLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PoliceChangePass</display-name>
    <servlet-name>PoliceChangePass</servlet-name>
    <servlet-class>project.PoliceChangePass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PoliceChangePass</servlet-name>
    <url-pattern>/PoliceChangePass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateInvestigation</display-name>
    <servlet-name>UpdateInvestigation</servlet-name>
    <servlet-class>project.UpdateInvestigation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInvestigation</servlet-name>
    <url-pattern>/UpdateInvestigation</url-pattern>
  </servlet-mapping>
</web-app>